In [2]:
import pandas as pd

# Load the datasets
term_test_1 = pd.read_csv(r"D:\project iict\term-test-1-result (1).csv")
term_test_2 = pd.read_csv(r"D:\project iict\term-test-2-result (1).csv")

# Display both dataframes
display(term_test_1)
display(term_test_2)

# Merge term_test_1 and term_test_2 on 'Registration Number'
merged_df = pd.merge(term_test_1, term_test_2, on="Registration Number")

# Clean up by keeping a single 'Name' column and rename the dataframe to marks
marks = merged_df.drop(columns=["Name_y"]).rename(columns={"Name_x": "Name"})

# Display the merged dataframe
print("Marks Dataframe:")
display(marks)

# Add a new column for Best Term Test Marks
marks["Best Marks"] = marks[["TT-1 Marks", "TT-2 Marks"]].max(axis=1)

# Add a new column for Average Term Test Marks
marks["Average Marks"] = marks[["TT-1 Marks", "TT-2 Marks"]].mean(axis=1)

# Display the updated dataframe
display(marks)

# Drop 'TT-1 Marks' and 'TT-2 Marks' columns
marks = marks.drop(columns=["TT-1 Marks", "TT-2 Marks"])

# Display the updated dataframe
display(marks)

Final_marks_Dataset = pd.read_csv(r"D:\project iict\final marks.csv")
Final_marks_Dataset

Final_marks_Dataset["Final Marks"] = (Final_marks_Dataset["Term Final Marks"] * 0.7) + Final_marks_Dataset["Average Marks"] + Final_marks_Dataset["Attendance Marks"]
Final_marks_Dataset

    Registration Number     Name  TT-1 Marks
0                  1001   Nasrin           1
1                  1002   Shorna          12
2                  1003  Sharmin          14
3                  1004    Sadia           2
4                  1005    Anika           3
5                  1006   Jannat          20
6                  1007     Rafi          14
7                  1008     Naim          17
8                  1009     Arif           0
9                  1010    Shuvo           3
10                 1011   Shorna           0
11                 1012     Mitu           1
12                 1013    Tumpa           4
13                 1014    Anika          12
14                 1015     Meem           2
15                 1016     Mitu          19
16                 1017    Israt          10
17                 1018    Habib          13
18                 1019   Badhon          17
19                 1020    Imran           9
20                 1021    Zahid           2
21                 1022    Rahat           5
22                 1023   Shorna          15
23                 1024   Sabbir           0
24                 1025    Jahir          12
25                 1026   Sabbir          20
26                 1027   Tanvir          15
27                 1028    Mahin          17
28                 1029    Rasel           3
29                 1030     Naim           2
30                 1031      Eva          14
31                 1032     Sumi          11
32                 1033    Tumpa           9
33                 1034    Nahid          15
34                 1035   Ayesha          19
35                 1036    Fahim          18
36                 1037     Ruma          17
37                 1038   Badhon           8
38                 1039    Ahsan          12
39                 1040    Anwar          11
40                 1041    Rahat          18
41                 1042   Rumana          20
42                 1043   Rumana           3
43                 1044  Sharmin          12
44                 1045    Tania          11
45                 1046    Israt           6
46                 1047    Mizan          16
47                 1048    Zahid          18
48                 1049     Rafi          17
49                 1050    Fahim           9

    Registration Number     Name  TT-2 Marks
0                  1001   Nasrin           4
1                  1002   Shorna           2
2                  1003  Sharmin           7
3                  1004    Sadia          10
4                  1005    Anika           0
5                  1006   Jannat           5
6                  1007     Rafi          14
7                  1008     Naim          12
8                  1009     Arif          13
9                  1010    Shuvo          18
10                 1011   Shorna           5
11                 1012     Mitu          17
12                 1013    Tumpa           0
13                 1014    Anika          10
14                 1015     Meem           7
15                 1016     Mitu          20
16                 1017    Israt          10
17                 1018    Habib           0
18                 1019   Badhon          17
19                 1020    Imran           7
20                 1021    Zahid          10
21                 1022    Rahat           7
22                 1023   Shorna           5
23                 1024   Sabbir           1
24                 1025    Jahir          14
25                 1026   Sabbir           6
26                 1027   Tanvir           5
27                 1028    Mahin           3
28                 1029    Rasel           2
29                 1030     Naim          20
30                 1031      Eva          15
31                 1032     Sumi           2
32                 1033    Tumpa           7
33                 1034    Nahid           1
34                 1035   Ayesha          19
35                 1036    Fahim           8
36                 1037     Ruma          12
37                 1038   Badhon          13
38                 1039    Ahsan           1
39                 1040    Anwar           2
40                 1041    Rahat          16
41                 1042   Rumana          10
42                 1043   Rumana           6
43                 1044  Sharmin          17
44                 1045    Tania           7
45                 1046    Israt           5
46                 1047    Mizan          14
47                 1048    Zahid           6
48                 1049     Rafi          10
49                 1050    Fahim          16

Marks Dataframe:

    Registration Number     Name  TT-1 Marks  TT-2 Marks
0                  1001   Nasrin           1           4
1                  1002   Shorna          12           2
2                  1003  Sharmin          14           7
3                  1004    Sadia           2          10
4                  1005    Anika           3           0
5                  1006   Jannat          20           5
6                  1007     Rafi          14          14
7                  1008     Naim          17          12
8                  1009     Arif           0          13
9                  1010    Shuvo           3          18
10                 1011   Shorna           0           5
11                 1012     Mitu           1          17
12                 1013    Tumpa           4           0
13                 1014    Anika          12          10
14                 1015     Meem           2           7
15                 1016     Mitu          19          20
16                 1017    Israt          10          10
17                 1018    Habib          13           0
18                 1019   Badhon          17          17
19                 1020    Imran           9           7
20                 1021    Zahid           2          10
21                 1022    Rahat           5           7
22                 1023   Shorna          15           5
23                 1024   Sabbir           0           1
24                 1025    Jahir          12          14
25                 1026   Sabbir          20           6
26                 1027   Tanvir          15           5
27                 1028    Mahin          17           3
28                 1029    Rasel           3           2
29                 1030     Naim           2          20
30                 1031      Eva          14          15
31                 1032     Sumi          11           2
32                 1033    Tumpa           9           7
33                 1034    Nahid          15           1
34                 1035   Ayesha          19          19
35                 1036    Fahim          18           8
36                 1037     Ruma          17          12
37                 1038   Badhon           8          13
38                 1039    Ahsan          12           1
39                 1040    Anwar          11           2
40                 1041    Rahat          18          16
41                 1042   Rumana          20          10
42                 1043   Rumana           3           6
43                 1044  Sharmin          12          17
44                 1045    Tania          11           7
45                 1046    Israt           6           5
46                 1047    Mizan          16          14
47                 1048    Zahid          18           6
48                 1049     Rafi          17          10
49                 1050    Fahim           9          16

,Registration Number,Name,TT-1 Marks,TT-2 Marks,Best Marks,Average Marks
0,1001,Nasrin,1,4,4,2.5
1,1002,Shorna,12,2,12,7.0
2,1003,Sharmin,14,7,14,10.5
3,1004,Sadia,2,10,10,6.0
4,1005,Anika,3,0,3,1.5
5,1006,Jannat,20,5,20,12.5
6,1007,Rafi,14,14,14,14.0
7,1008,Naim,17,12,17,14.5
8,1009,Arif,0,13,13,6.5
9,1010,Shuvo,3,18,18,10.5
10,1011,Shorna,0,5,5,2.5
11,1012,Mitu,1,17,17,9.0
12,1013,Tumpa,4,0,4,2.0
13,1014,Anika,12,10,12,11.0
14,1015,Meem,2,7,7,4.5
15,1016,Mitu,19,20,20,19.5
16,1017,Israt,10,10,10,10.0
17,1018,Habib,13,0,13,6.5
18,1019,Badhon,17,17,17,17.0
19,1020,Imran,9,7,9,8.0
20,1021,Zahid,2,10,10,6.0
21,1022,Rahat,5,7,7,6.0
22,1023,Shorna,15,5,15,10.0
23,1024,Sabbir,0,1,1,0.5
24,1025,Jahir,12,14,14,13.0
25,1026,Sabbir,20,6,20,13.0
26,1027,Tanvir,15,5,15,10.0
27,1028,Mahin,17,3,17,10.0
28,1029,Rasel,3,2,3,2.5
29,1030,Naim,2,20,20,11.0
30,1031,Eva,14,15,15,14.5
31,1032,Sumi,11,2,11,6.5
32,1033,Tumpa,9,7,9,8.0
33,1034,Nahid,15,1,15,8.0
34,1035,Ayesha,19,19,19,19.0
35,1036,Fahim,18,8,18,13.0
36,1037,Ruma,17,12,17,14.5
37,1038,Badhon,8,13,13,10.5
38,1039,Ahsan,12,1,12,6.5
39,1040,Anwar,11,2,11,6.5
40,1041,Rahat,18,16,18,17.0
41,1042,Rumana,20,10,20,15.0
42,1043,Rumana,3,6,6,4.5
43,1044,Sharmin,12,17,17,14.5
44,1045,Tania,11,7,11,9.0
45,1046,Israt,6,5,6,5.5
46,1047,Mizan,16,14,16,15.0
47,1048,Zahid,18,6,18,12.0
48,1049,Rafi,17,10,17,13.5
49,1050,Fahim,9,16,16,12.5

    Registration Number     Name  Best Marks  Average Marks
0                  1001   Nasrin           4            2.5
1                  1002   Shorna          12            7.0
2                  1003  Sharmin          14           10.5
3                  1004    Sadia          10            6.0
4                  1005    Anika           3            1.5
5                  1006   Jannat          20           12.5
6                  1007     Rafi          14           14.0
7                  1008     Naim          17           14.5
8                  1009     Arif          13            6.5
9                  1010    Shuvo          18           10.5
10                 1011   Shorna           5            2.5
11                 1012     Mitu          17            9.0
12                 1013    Tumpa           4            2.0
13                 1014    Anika          12           11.0
14                 1015     Meem           7            4.5
15                 1016     Mitu          20           19.5
16                 1017    Israt          10           10.0
17                 1018    Habib          13            6.5
18                 1019   Badhon          17           17.0
19                 1020    Imran           9            8.0
20                 1021    Zahid          10            6.0
21                 1022    Rahat           7            6.0
22                 1023   Shorna          15           10.0
23                 1024   Sabbir           1            0.5
24                 1025    Jahir          14           13.0
25                 1026   Sabbir          20           13.0
26                 1027   Tanvir          15           10.0
27                 1028    Mahin          17           10.0
28                 1029    Rasel           3            2.5
29                 1030     Naim          20           11.0
30                 1031      Eva          15           14.5
31                 1032     Sumi          11            6.5
32                 1033    Tumpa           9            8.0
33                 1034    Nahid          15            8.0
34                 1035   Ayesha          19           19.0
35                 1036    Fahim          18           13.0
36                 1037     Ruma          17           14.5
37                 1038   Badhon          13           10.5
38                 1039    Ahsan          12            6.5
39                 1040    Anwar          11            6.5
40                 1041    Rahat          18           17.0
41                 1042   Rumana          20           15.0
42                 1043   Rumana           6            4.5
43                 1044  Sharmin          17           14.5
44                 1045    Tania          11            9.0
45                 1046    Israt           6            5.5
46                 1047    Mizan          16           15.0
47                 1048    Zahid          18           12.0
48                 1049     Rafi          17           13.5
49                 1050    Fahim          16           12.5

,Registration Number,Name,Best Marks,Average Marks,Attendance Marks,Term Final Marks,Final Marks
0,1001,Nasrin,4,2.5,3,91,69.2
1,1002,Shorna,12,7.0,8,66,61.2
2,1003,Sharmin,14,10.5,8,66,64.7
3,1004,Sadia,10,6.0,7,67,59.9
4,1005,Anika,3,1.5,2,46,35.7
5,1006,Jannat,20,12.5,7,49,53.8
6,1007,Rafi,14,14.0,2,50,51.0
7,1008,Naim,17,14.5,4,92,82.9
8,1009,Arif,13,6.5,6,72,62.9
9,1010,Shuvo,18,10.5,3,56,52.7
10,1011,Shorna,5,2.5,5,54,45.3
11,1012,Mitu,17,9.0,1,71,59.7
12,1013,Tumpa,4,2.0,5,77,60.9
13,1014,Anika,12,11.0,8,97,86.9
14,1015,Meem,7,4.5,0,95,71.0
15,1016,Mitu,20,19.5,0,70,68.5
16,1017,Israt,10,10.0,6,61,58.7
17,1018,Habib,13,6.5,4,49,44.8
18,1019,Badhon,17,17.0,2,47,51.9
19,1020,Imran,9,8.0,8,63,60.1
20,1021,Zahid,10,6.0,9,63,59.1
21,1022,Rahat,7,6.0,7,68,60.6
22,1023,Shorna,15,10.0,3,65,58.5
23,1024,Sabbir,1,0.5,5,54,43.3
24,1025,Jahir,14,13.0,2,66,61.2
25,1026,Sabbir,20,13.0,1,96,81.2
26,1027,Tanvir,15,10.0,9,83,77.1
27,1028,Mahin,17,10.0,4,80,70.0
28,1029,Rasel,3,2.5,9,99,80.8
29,1030,Naim,20,11.0,10,52,57.4
30,1031,Eva,15,14.5,6,68,68.1
31,1032,Sumi,11,6.5,9,80,71.5
32,1033,Tumpa,9,8.0,6,95,80.5
33,1034,Nahid,15,8.0,0,99,77.3
34,1035,Ayesha,19,19.0,4,86,83.2
35,1036,Fahim,18,13.0,10,61,65.7
36,1037,Ruma,17,14.5,1,60,57.5
37,1038,Badhon,13,10.5,6,47,49.4
38,1039,Ahsan,12,6.5,5,78,66.1
39,1040,Anwar,11,6.5,9,100,85.5
40,1041,Rahat,18,17.0,2,55,57.5
41,1042,Rumana,20,15.0,3,50,53.0
42,1043,Rumana,6,4.5,4,82,65.9
43,1044,Sharmin,17,14.5,7,80,77.5
44,1045,Tania,11,9.0,10,46,51.2
45,1046,Israt,6,5.5,9,84,73.3
46,1047,Mizan,16,15.0,1,99,85.3
47,1048,Zahid,18,12.0,10,99,91.3
48,1049,Rafi,17,13.5,2,73,66.6
49,1050,Fahim,16,12.5,1,60,55.5